body {
    background-image: url('bg.jpg');
}

.news_section {
    width: 50%;
    height: 700px;
    /* text-align: center; */
    margin: auto;
}

.temp_section {
    float: left;
    margin: 20px;
    /* text-align: center; */
    /* border: 1px solid black; */
    height: fit-content;
    width: 425px;
    padding: 20px;
    margin: 20px;
}

.calendar_section {
    width: 425px;
    height: fit-content;
    /* float: right;     */
    /* text-align: center; */
    /* margin: 20px; */
    padding: 10px;
    /* border: 1px solid black; */
    position: absolute;
    right: 20px; 
    top: 75px;
} 
